@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

*{
font-family: 'Poppins', sans-serif;
font-weight: 700;
}
  
.primary-header{
font-family: 'Righteous', cursive !important;
}

input[type="password"]::-ms-reveal,
input[type="password"]::-webkit-reveal {
  display: none;
}

.react-tabs__tab-list {
  display: flex;
  border-radius: 10px;
  /* border-bottom: 0px !important; */
  border: 2px solid black !important
  /* /* margin: 0 0 10px; */
  /* padding: 0; */
}

.react-tabs__tab--selected {
  background:black !important;
  color: white !important;
  border-bottom: none !important;
  border-radius: 5px !important;
  text-decoration: none !important;
}

.react-tabs__tab {
  border: none !important;
  border-bottom: none !important;
  display: flex !important;
  justify-content: center;
  color: black;
  bottom: 0px !important;
  width: 100% !important;
}

.tab.active {
  border-bottom-color: blue;
}

